@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

#namecontainer {
  padding: 100px;
  background-image: linear-gradient(#6487e6, #9198e5);
  text-align: center;
}

#namedisp {
  font-family: 'Abel';
  font-size: xx-large;
}

#templinks {
  text-align: center;
}